@import "tailwindcss";

:root {
  --background: #F5F5F0;
  --foreground: #2c2c2c;
  
  /* Balinese Color Variables */
  --balinese-cream: #F5F5F0;
  --balinese-beige: #E6D8C3;
  --balinese-tan: #C2A68C;
  --balinese-brown: #614d3a;
  --balinese-green: #5D866C;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #5D866C;
    --foreground: #0a3e1e;
    --balinese-cream: #F5F5F0;
    --balinese-beige: #E6D8C3;
    --balinese-tan: #C2A68C;
    --balinese-green: #5D866C;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
